<div class="{{css_prefix}}container">
  {% if attributes.title %}
  <h3>{{attributes.title}}</h3>
  {% endif %} {% if items %}
  <div class="{{css_prefix}}materiales">
    {% for item in items %}
    <div class="{{css_prefix}}material">
      <h5 class="{{css_prefix}}material_title">{{item.post_title}}</h5>

      <div class="{{css_prefix}}material_content {% if not item.image_medium %}{{css_prefix}}single_column{% endif %}">
        {% if item.image_medium %}
        <div class="{{css_prefix}}material_image_area">
          <img
            src="
            {{item.image_medium}} "
            alt="
            {{item.title}}"
          />
        </div>
        {% endif %}
        <div class="{{css_prefix}}material_description_area ">
          {{ item.post_content }}

          <div class="{{css_prefix}}material_links_area">
            {% for link in item.yq_polen_link %} {% if link %}
            <a class="material-link" href="{{ link }}" target="_blank">
              <span> &raquo; {{item.yq_polen_label[ loop.index-1 ]}}</span>
            </a>
            {% endif %} {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
