.yq_polen_row {
  display: flex;
}

.yq_polen_field {
  flex-grow: 1;
  margin: 0.25em 0.75em;

  .txt {
    width: 100%;
  }
}

.yq_polen_field_1_25 {
  flex-grow: 0.25;
}

.yq_polen_field_1_33 {
  flex-grow: 0.33;
}

.post-type-material #content_ifr {
  height: 150px !important;
}

.post-type-material #comment-link-box,
#edit-slug-box {
  min-height: auto;
}
